html, body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    font-size: 15px;
}

input[type=text],input[type=search],input[type=password], textarea {
    border: 1px solid #cecece;
    padding: 5px 10px;
    margin: 5px 0px;
    font-size: 15px;
}

.input-full {
    width: 100%;
}
.input-large {
    width: 85%;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

label{
    display: block;
    font-weight: normal;
}

.btn {
    padding: 8px 16px;
}

.btn-search{
    margin-bottom: 4px;
}

.brand {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 33px;
    margin-top: 8px;
}
article{
    max-width: 640px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.navbar-default {
    background: #27709b;
    line-height: 69px;
    color: #ffffff;
}
.avatar{
    margin-right: 14px;
}

.main {
    position:absolute;
    top:40%;
    height:240px;
    margin-top:-120px;
    text-align: center;
}

a.logout,a.logout:hover  {
    display: block;
    height: 15px;
    line-height: 0px;
    color: #ffffff;
}

.main2 {
    position: absolute;
    top: 50%;
    height: 40px;
    margin-top: -20px;
    text-align: center;
    width: 100%;
}

.main .title {
    font-size: 33px;
}
.main .login {
    margin-top: 50px;
    font-size: 33px;
    padding: 20px 16px;
    margin-bottom: 100px;
    white-space: normal;
}
.container.wrapper {
    padding-top: 69px;
    padding-bottom: 69px;
    min-height: 100%;
}

.welcome {
    margin-top: 50px;
    text-align: center;
}

.welcome .original-message {
    background-color: #dedede;
    min-height: 250px;
    border: 1px solid #C2C2C2;
    font-size: 16px;
    padding: 5px;
    text-align: left;
}
.welcome textarea {
    min-height: 250px;width: 100%;
    font-size: 16px;
    padding: 5px;
}

.error {
    color: #ff0000;
    margin-left: 5px;
}
.searchq{
    margin-top:50px;
}

.contact_list {
    text-align: center;
    margin-top: 50px;
    max-width: 900px;
}
.contact_list h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.contact_list .btn-send-group{
    margin-top: 30px;
    margin-bottom: 20px;
}

.chosen-container-multi .chosen-choices {
    padding: 3px;
    font-size: 15px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
    height: inherit !important;
}

.contact_list .input-group-addon {
    border-radius: 0px;
}

.contact_list .btn-group{
    margin: 5px;
}

.contact_list input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: bottom;
}

.contact_list table {
    margin-bottom: 10px;
}

.contact_list .multi-select {
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.contact_list .multi-select .header {
    padding: 5px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    width: 500px;
    overflow: hidden;
    cursor: pointer;
}

.contact_list .multi-select .items {
    position: absolute;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    top: 33px;
    left: 0px;
    width: 500px;
    z-index: 1001;
    text-align: left;
    padding: 5px;
}
.contact_list .multi-select .items {
    cursor: pointer;
}

.chosen-select, .contact_list ul {
    text-align: left;
    font-size: 15px;
}

.contact td span {
    float: right;
    margin-right: 42px;
}

label.check {
    cursor: pointer;
    padding-left: 25px;
    margin: 5px;
}

table.contacts td{
    cursor: pointer;
}
.dataTables_wrapper {
    margin-top: 20px;
}

.confirm {
    margin-top: 50px;
}

.confirm .preview {
    background-color: #dedede;
    min-height: 250px;
    padding: 10px;
}

.confirm .success{
    padding: 10px;
    margin-top: 20px;
    background-color: #84F897;
}

.confirm .success a {
    text-decoration: none;
}

footer{
    background: #27709b;
    height: 50px;
    margin-top: -50px;
}