html, body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    font-size: 15px;
}

input[type=text],input[type=search],input[type=password], textarea {
    border: 1px solid #cecece;
    padding: 5px 10px;
    margin: 5px 0px;
    font-size: 15px;
}

.input-full {
    width: 100%;
}
.input-large {
    width: 85%;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mr50 {
    margin-right: 50px;
}

.mt60 {
    margin-top: 60px;
}

.mt80 {
    margin-top: 80px;
}

.mrm15 {
    margin-right: -15px;
}

.mr10 {
    margin-right: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mrm8 {
    margin-right: -8px;
}

.mlm14 {
    margin-left: -14px;
}

.centertext {
    text-align: center !important;
}

.pb70 {
    padding-bottom: 70px !important;
}

.container {
    width: 100% !important;
}

label{
    display: block;
    font-weight: normal;
}

.btn {
    padding: 8px 16px;
}

.btn-search{
    margin-bottom: 4px;
}

.brand {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 33px;
    margin-top: 8px;
}
article{
    max-width: 640px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 50px;
}

.modal-header button.close {
    cursor: pointer;
    font-size: 32px;
    font-weight: bold;
    line-height: 0.5;
    position: absolute;
    right: 13px;
    top: 37px;
} 

.modal-header h1 { color:#333645; font-family: 'Lato', sans-serif;font-size: 18px;text-align:left; font-weight:bold !important; text-transform:uppercase; border-bottom:1px solid #d1d6da; padding-bottom:16px;}

.navbar-default {
    background: #27709b;
    /*line-height: 69px;*/
    color: #ffffff;
}

.help-inline {
    color: #a94442;
}
.avatar{
    margin-right: 14px;
}

.main {
    position:absolute;
    top:40%;
    height:240px;
    margin-top:-120px;
    text-align: center;
}

.avatar a,.avatar a:hover  {
    color: #ffffff;
}

.main2 {
    position: absolute;
    top: 50%;
    height: 40px;
    margin-top: -20px;
    text-align: center;
    width: 100%;
}

.container.wrapper {
    padding-top: 69px;
    padding-bottom: 69px;
    min-height: 100%;
}

.feature-select {
    margin-top: 50px;
}

.feature-select .info {
    padding: 20px;
background-color: #cecece;
}

.welcome {
    margin-top: 50px;
    text-align: center;
}

.welcome .original-message {
    background-color: #dedede;
    min-height: 250px;
    border: 1px solid #C2C2C2;
    font-size: 16px;
    padding: 5px;
    text-align: left;
}
.welcome textarea, .new-capaign textarea {
    min-height: 250px;width: 100%;
    font-size: 16px;
    padding: 5px;
}

.error {
    color: #ff0000;
    margin-left: 5px;
}
.searchq{
    margin-top:50px;
}

.contact_list {
    text-align: center;
    margin-top: 50px;
    max-width: 900px;
}
.contact_list h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.contact_list .btn-send-group{
    margin-top: 30px;
    margin-bottom: 20px;
}

.chosen-container-multi .chosen-choices {
    padding: 3px;
    font-size: 15px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
    height: inherit !important;
}

.contact_list .input-group-addon {
    border-radius: 0px;
}

.contact_list .btn-group{
    margin: 5px;
}

.contact_list input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: bottom;
}

.contact_list table {
    margin-bottom: 10px;
}

.contact_list table td {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.contact_list .multi-select {
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.contact_list .multi-select .header {
    padding: 5px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    width: 500px;
    overflow: hidden;
    cursor: pointer;
}

.contact_list .multi-select .items {
    position: absolute;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    top: 33px;
    left: 0px;
    width: 500px;
    z-index: 1001;
    text-align: left;
    padding: 5px;
}
.contact_list .multi-select .items {
    cursor: pointer;
}

.chosen-select, .contact_list ul {
    text-align: left;
    font-size: 15px;
}

.contact td span {
    float: right;
    margin-right: 42px;
}

label.check {
    cursor: pointer;
    padding-left: 25px;
    margin: 5px;
}

table.contacts td{
    cursor: pointer;
}
.dataTables_wrapper {
    margin-top: 20px;
}

.confirm {
    margin-top: 50px;
}

.confirm .preview {
    background-color: #dedede;
    min-height: 250px;
    padding: 10px;
}

.confirm .success{
    padding: 10px;
    margin-top: 20px;
    background-color: #84F897;
}

.confirm .success a {
    text-decoration: none;
}

/*footer{*/
    /*background: #27709b;*/
    /*height: 50px;*/
    /*margin-top: -50px;*/
/*}*/

.logo {
    float: left;
    width: auto;
    height: auto;
    display: block;
}

#loading {
    position: absolute;
    width: 100%;
    text-align: center;
    display: none;
    top: 61px;
}

#loading > span {
    background: #D6D7D7;
    padding: 3px 5px;
    border: 1px solid white;
    border-top: none;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

#public-tags {
    min-height: 31px;
    padding: 0 2px 2px 2px;
    border-radius: 6px;
}

#recipients,
#tags {
    min-height: 31px;
    padding: 0 2px 2px 2px;
    border: none;
    border-radius: 6px;
}

#public-tags li, 
#recipients li, 
#tags li {
    font-size: 14px;
    height: 25px;
    margin: 2px 2px 0 0;
}

#recipients li.tagit-new {
    display: none;
}

.search-tags {
    margin-top: 10px;
}

.reset-tags {
    background-color: #D9534F !important;
    margin-right: 3px;    
}

#login-dialog .modal-header h3 {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

#login-dialog .modal-dialog {
    width: 800px;
}

#login-dialog .modal-title {
    font-size: 33px;
}

#login-dialog .login {
    margin-top: 30px;
    font-size: 33px;
    padding: 20px 16px;
    margin-bottom: 20px;
    white-space: normal;
}

#register-dialog .modal-header,
#register-dialog .modal-footer,
#manual-login-dialog .modal-header,
#manual-login-dialog .modal-footer,
#login-dialog .modal-header,
#login-dialog .modal-footer {
    margin-top: 0 !important;
    border: none;
}

#manual-login-dialog .modal-dialog {
    width: 450px !important;
}

#register-dialog .modal-body,
#manual-login-dialog .modal-body {
    padding: 0 20px !important;
}

#manual-login-dialog .modal-footer,
#register-dialog .modal-footer {
    padding-top: 0 !important;
}

.edit-campaign {
    margin-right: 10px;
}

#unmatched-contacts,
#matched-contacts {
    background-color: #fefefe;
    border-radius: 5px;
    border-collapse: separate;
}

#unmatched-contacts tbody td,
#matched-contacts tbody td {
    vertical-align: middle;
}

#search-loader {
    margin-top: 16px;
    margin-left: 10px
}

ul.wysihtml5-toolbar > li {
    margin: 0 5px 0px 0;
}

.edit-search-term-open {
    cursor: pointer;
}

.select-contact-group {
    /*margin-bottom:10px;*/
}

a.contact-tab.tab-active {
    background-color: #dddddd;
    border-top: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}

.mailbox_right {
    cursor: text;
}

.image-mask {
    width: 40px;
    height: 43px;
    background-image: url('../images/image_mask_transparent.png');
    background-repeat: no-repeat;
    position: absolute;
    margin: -43px 0 0 3px;
}

.loading-contacts {
    height: 30px;
    margin: 0 auto;
    width: 200px;
}

.loading-contacts img {
    float: left;
}

.loading-contacts span {
    float: right;
    margin-top:5px;
}

#gritter-notice-wrapper {
    right: 16px !important;
    top: 87px !important;
    width: 181px !important;
}

#tags-popover {
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 22px;
    margin-left: 5px;
    padding-left: 1px;
    text-align: center;
    width: 22px;
}